* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color :rgb(210, 209, 209);
}

#container{
    height: 300px;
    width: 600px;
    background-color:black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px;
}
#progress{
    height: 20px;
    width: 80%;
    background-color: gainsboro;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
    
}
#growth{
    height: 20px;
    width: 0%;
    background-color:rgb(255, 0, 0);
    border-radius: 25px;
}

h2{
    font-size: 35px;
    color: white;
}

button{
    margin-top: 20px;
    border: none;
    font-size: 23px;
    padding: 13px 30px;
    border-radius: 23px;
    background-color: rgb(254, 4, 4);
    cursor: pointer;
    color: white;
    border: none;
}

button:active{
    scale: 0.95;
}